.git
.turbo
.venv
.qodo
node_modules
**/node_modules
**/.next
**/dist
storage/*.sqlite
storage/*.sqlite-shm
storage/*.sqlite-wal
storage/exports/*
!storage/exports/.gitkeep
storage/uploads/*
!storage/uploads/.gitkeep
npm-debug.log*
.env
.env.local
.env.docker
